@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --verde-claro: #77a62a;
    --verde-escuro: #07420d;
    --branco: #ffffff;
    --preto: #000000;
    --cinza: #555555;
}

html {
    scroll-padding-top: 85px;
}

header {
    width: 100%;
    z-index: 2;
    background: var(--branco);
    position: fixed;
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

nav {
    padding: 0 12%;
}

.menu-dropdown {
    display: none;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: 150px;
}

.paths a {
    padding: 0 15px;
    font-size: 20px;
    color: var(--cinza);
    font-weight: 400;
    text-decoration: none;
}

.paths a:hover {
    color: var(--verde-claro);
}

.agendar {
    font-size: 20px;
}

.agendar a {
    color: var(--cinza);
    font-weight: 500;
    text-decoration: none;
}

.agendar a:hover {
    color: var(--verde-claro);
}

.agendar i {
    padding: 0 5px;
    color: var(--verde-claro);
}

section {
    padding-bottom: 2rem;
}

#inicio {
    padding-top: 84px;
}

#especialidades {
    padding: 0 12%;
    padding-bottom: 2rem;
    padding-top: 1rem;
}

.especialidades-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.especialidades-title h1 {
    color: var(--verde-escuro);
    font-size: 42px;
    border-bottom: 2px solid var(--cinza);
    padding-bottom: 7px;
    font-weight: 500;
}

.especialidades-title span {
    font-size: 18px;
}

.especialidades-icones {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 2rem;
}

.especialidade {
    width: 135px;
    text-align: center;
    cursor: pointer;
}

.especialidade img {
    width: 100%;
}

.especialidade span {
    font-size: 20px;
    color: var(--verde-escuro);
    font-weight: 500;
}

#procedimentos {
    padding: 0 12%;
    padding-bottom: 3rem;
    padding-top: 2rem;
    background: #aaf3356e;
}

.procedimentos-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 2rem;
}

.procedimentos-container ul {
    padding-left: 0;
    background-color: var(--branco);
    padding: 20px 50px 25px;
    border-radius: 25px;
}

.procedimentos-container li {
    font-size: 24px;
    color: var(--verde-escuro);
    font-weight: 400;
    border-bottom: 1px solid var(--verde-claro);
    padding-top: 12px;
}

.medicos-background {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.7);
}

.medicos {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--branco);
    padding: 10px 15px;
    border-radius: 20px;
}

.medicos a {
    align-self: center;
    padding: 10px 20px;
    background-color: #3fa525;
    text-decoration: none;
    color: var(--branco);
    font-size: 20px;
    border-radius: 20px;
    margin-top: 10px;
}

.medicos a:hover {
    background-color: #256315;
    transition: 0.3s ease;
}

.medicos-head {
    display: flex;
    justify-content: space-between;
}

.medicos-head h2 {
    font-size: 32px;
    margin-bottom: 4px;
    font-weight: 600;
}

.medicos-head i {
    font-size: 30px;
    color: var(--preto);
    cursor: pointer;
}

.medicos-head i:hover {
    color: rgb(192, 1, 1);
    transition: all 0.3s;
}

.especialidade-info {
    text-align: center;
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
    padding: 10px;
    border-radius: 20px;
    gap: 1.5rem;
}

.medico {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    background-color: #d5ffca;
    border-radius: 20px;
}

.medico h3 {
    font-size: 23px;
    padding-top: 7px;
}

.medico div {
    display: flex;
    flex-direction: column;
}

.medico span {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3;
}

.medico img {
    height: 300px;
    border-radius: 10px;
}

#historia {
    padding: 0 12%;
    padding-bottom: 3rem;
    padding-top: 2rem;
}

.historia-title h1 {
    color: var(--verde-escuro);
    font-size: 42px;
    border-bottom: 2px solid var(--cinza);
    padding-bottom: 7px;
}

.historia-title span {
    font-size: 18px;
}

.historia-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.historia-img {
    border: 2px solid var(--verde-claro);
    border-radius: 20px;
    -moz-box-shadow: 0 0 3px var(--verde-escuro);
    -webkit-box-shadow: 0 0 3px var(--verde-escuro);
    box-shadow: 0 0 3px var(--verde-escuro);
    width: 70%;
}

.historia-img img {
    border-radius: 18px;
    width: 100%;
}

.historia-texto {
    padding: 0 100px;
    font-size: 18px;
    text-align: justify;
}

.historia-texto p {
    margin: 0;
    margin-bottom: 15px;
}

.historia-texto p:nth-child(4) {
    margin-bottom: 40px;
}

.historia-texto h2 {
    color: var(--verde-escuro);
    padding-top: 2rem;
    padding-bottom: 7px;
    border-bottom: 1px solid var(--verde-escuro);
}

.historia-texto a {
    text-decoration: none;
    color: var(--branco);
    background-color: var(--verde-escuro);
    padding: 10px 25px;
    border-radius: 20px;
}

.historia-texto a:hover {
    background-color: var(--verde-claro);
    transition: 0.3s ease;
}

#contato {
    padding: 0 12%;
    padding-bottom: 3rem;
    padding-top: 2rem;
    background: #aaf3356e;
}

.contato-title h1 {
    font-size: 42px;
    color: var(--verde-escuro);
    border-bottom: 2px solid var(--cinza);
    padding-bottom: 7px;
}

.contato-wrap {
    padding-top: 1rem;
    display: flex;
    justify-content: space-around;
}

.contato-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--branco);
    padding: 0 10px;
    border-radius: 25px;
    border: 1px solid var(--verde-claro);
    width: 45%;
}

.contato-logo {
    width: 350px;
    padding-bottom: 2rem;
}

.contato-logo img {
    width: 100%;
}

.info-items {
    text-align: center;
}

.localizacao {
    font-size: 20px;
    padding-bottom: 1rem;
    text-align: center;
}

.localizacao i {
    padding-right: 5px;
    color: var(--verde-escuro);
}

.telefones {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding-bottom: 1rem;
}

.horario {
    font-size: 20px;
    text-align: center;
    padding-bottom: 0.5rem;
}

.info-socials i {
    font-size: 30px;
    color: var(--verde-escuro);
}

.maps {
    display: flex;
    align-items: center;
    width: 45%;
}

.maps iframe {
    border: 1px solid var(--verde-claro);
    border-radius: 25px;
}

.footer {
    text-align: center;
    padding: 10px 0;
    font-size: 17px;
    background-color: var(--verde-escuro);
    color: var(--branco);
}

.footer a {
    text-decoration: none;
    color: #9fe036;
}

@media only screen and (max-width: 1610px) {
    nav {
        padding: 0 5%;
    }

    .menu-dropdown {
        display: none;
    }

    #especialidades, #procedimentos, #historia, #contato {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media only screen and (max-width: 1200px) {
    nav {
        padding: 0 2%;
    }

    #especialidades, #procedimentos, #historia, #contato {
        padding-left: 5%;
        padding-right: 5%;
    }

    .paths a {
        padding: 0 5px;
    }

    .especialidades-icones {
        gap: 4rem;
    }

    .especialidade {
        width: 120px;
    }

    .especialidade span {
        font-size: 18px;
    }

    .medico img {
        height: 200px;
    }

    .procedimentos-container ul {
        padding: 5px 10px 10px;
        max-width: 45%;
    }

    .contato-wrap {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .contato-info, .maps {
        width: 720px;
    }

    .info-socials {
        margin-bottom: 1rem;
    }
}

@media only screen and (max-width: 990px) {
    .menu-dropdown {
        display: block;
    }

    .dropdown-button {
        background-color: var(--branco);
    }

    .dropdown-button i {
        font-size: 35px;
        color: var(--verde-escuro);
    }

    .close-menu {
        font-size: 24px;
        color: var(--cinza);
    }

    #offcanvasResponsive {
        background-color: #efffec;
    }

    .paths-menu {
        display: flex;
        flex-direction: column;
        font-size: 27px;
    }

    .paths-menu a {
        text-decoration: none;
        color: var(--cinza);
        padding: 5px 15px;
    }

    .paths-menu a:hover {
        color: var(--verde-claro);
        transition: 0.3s ease;
    }

    .agendar-menu {
        padding-top: 25px;
        font-size: 27px;
    }

    .agendar-menu a {
        text-decoration: none;
        color: var(--cinza);
    }

    .agendar-menu a:hover {
        color: var(--verde-claro);
        transition: 0.3s ease;
    }

    .agendar-menu i {
        color: var(--verde-claro);
        padding-right: 5px;
    }

    nav {
        padding: 0 2%;
    }

    .paths, .agendar {
        display: none;
    }

    #especialidades, #procedimentos, #historia, #contato {
        padding-left: 5%;
        padding-right: 5%;
    }

    .paths a {
        padding: 0 5px;
    }

    .especialidades-icones {
        gap: 3rem;
    }

    .especialidade {
        width: 120px;
    }

    .especialidade span {
        font-size: 18px;
    }

    .especialidade-info {
        gap: 1rem;
    }

    .medico {
        padding: 15px;
    }

    .medico img {
        height: 170px;
    }

    .procedimentos-container ul {
        padding: 5px 10px 10px;
        max-width: 45%;
    }

    .historia-img {
        width: 95%;
    }

    .historia-texto {
        padding: 0 20px;
    }

    .contato-wrap {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .contato-info, .maps {
        width: 95%;
    }

    .info-socials {
        margin-bottom: 1rem;
    }
}

@media only screen and (max-width: 700px) {
    .menu-dropdown {
        display: block;
    }

    .dropdown-button {
        background-color: var(--branco);
    }

    .dropdown-button i {
        font-size: 35px;
        color: var(--verde-escuro);
    }

    .close-menu {
        font-size: 24px;
        color: var(--cinza);
    }

    #offcanvasResponsive {
        background-color: #efffec;
    }

    .paths-menu {
        display: flex;
        flex-direction: column;
        font-size: 27px;
    }

    .paths-menu a {
        text-decoration: none;
        color: var(--cinza);
        padding: 5px 15px;
    }

    .paths-menu a:hover {
        color: var(--verde-claro);
        transition: 0.3s ease;
    }

    .agendar-menu {
        padding-top: 25px;
        font-size: 27px;
    }

    .agendar-menu a {
        text-decoration: none;
        color: var(--cinza);
    }

    .agendar-menu a:hover {
        color: var(--verde-claro);
        transition: 0.3s ease;
    }

    .agendar-menu i {
        color: var(--verde-claro);
        padding-right: 5px;
    }

    nav {
        padding: 0 2%;
    }

    .paths, .agendar {
        display: none;
    }

    #especialidades, #procedimentos, #historia, #contato {
        padding-left: 5%;
        padding-right: 5%;
    }

    .paths a {
        padding: 0 5px;
    }

    .especialidades-icones {
        gap: 3rem;
    }

    .especialidade {
        width: 120px;
    }

    .especialidade span {
        font-size: 18px;
    }

    .especialidade-info {
        flex-direction: column;
        gap: 0.5rem;
    }

    .medico img {
        height: 120px;
    }

    .medico h3 {
        margin-bottom: 0;
        font-size: 18px;
    }

    .medicos-head h2 {
        font-size: 26px;
        padding-right: 10px;
    }

    .procedimentos-container {
        flex-direction: column;
    }

    .procedimentos-container ul {
        padding: 5px 10px 10px;
        max-width: 90%;
    }

    .historia-img {
        width: 95%;
    }

    .historia-texto {
        padding: 0 20px;
    }

    .contato-wrap {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .contato-info, .maps {
        width: 95%;
    }

    .info-socials {
        margin-bottom: 1rem;
    }
}