@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --verde-claro: #77a62a;
    --verde-escuro: #07330b;
    --branco: #ffffff;
    --preto: #000000;
    --cinza: #555555;
}

header {
    width: 100%;
    z-index: 2;
    background: var(--branco);
}

nav {
    padding: 0 12%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: 160px;
}

.paths a {
    padding: 0 15px;
    font-size: 20px;
    color: var(--cinza);
    font-weight: 400;
    text-decoration: none;
}

.paths a:hover {
    color: var(--verde-claro);
}

.agendar {
    font-size: 20px;
}

.agendar a {
    color: var(--cinza);
    font-weight: 500;
    text-decoration: none;
}

.agendar a:hover {
    color: var(--verde-claro);
}

.agendar i {
    padding: 0 5px;
    color: var(--verde-claro);
}

section {
    padding-bottom: 5rem;
}

#especialidades {
    padding: 0 12%;
}

.especialidades-container h1 {
    color: var(--verde-escuro);
}

.especialidades-icones {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
}

.especialidade {
    width: 150px;
}

.especialidade img {
    width: 100%;
}

